@import "_bootstrap.scss";
@import "https://fonts.googleapis.com/css?family=Roboto:400,500,700";

body{
	font-family: 'Roboto', sans-serif;
	margin: 0;

	*{
		box-sizing: border-box;
	}	
}

.header{
	padding: 5px;
	border-bottom: 1px solid #afafaf;
	margin: 0 0 40px 0;
	
	@media (min-width: $screen-md){
		margin: 0 0 75px 0;	
	}

	&__logo-wrapper{
		display: block;
		text-align: center;
	}

	&__logo{
		width: 40px;
		margin: 0 auto;		

		@media (min-width: $screen-md){
			float: left;
		}
	}

	&__nav{
		margin: 11px 0 0 0;
	
		@media (min-width: $screen-md){
			float: right;
		}
	}

	&__nav-item{
		color: #000;
		text-decoration: none;
		text-transform: uppercase;
		font-weight: 500;
		margin: 0 0 0 20px;
		font-size: 15px;
		display: inline-block;
		position: relative;

		&:before{
			-webkit-transition: all 150ms ease-in-out;
			content: " ";
			width: 0%;
			height: 1px;
			background-color: #000;
			position: absolute;
			display: block;
			bottom: -5px;
		}

		&:hover:before{
	    width: 100%;
		}
	}

	&__menu-icon{
		margin-top: 8px;
		position: absolute;
		cursor: pointer;		
	}
}

.menu{
  position: fixed;
  background-color: #fff;
  top: 51px;
  left: -100%;
  padding: 0px 20px 0 20px;
  z-index: 9;
  width: 50%;
  -webkit-box-shadow: 1px 1px 1px 1px rgba(189,189,189,1);
  box-shadow: 1px 1px 1px 1px rgb(222, 222, 222);
  -webkit-transition: all .3s ease-in-out;
  opacity: 0;

  &.open{
  	left: 0;
		opacity: 1;
  }

	&__list-item{
		display: block;
		color: #000;
		text-decoration: none;
		margin: 10px -20px 0px -20px;
		padding: 0 20px 10px;
		border-bottom: 1px solid #ececec;
	}
}

.post{
	text-decoration: none;
	display: block;
	color: #000;	

	&__loader{
		margin: 0 auto;
		display: block;
	}

	&__title{
		font-size: 20px;
		color: #000;
		margin: 10px 0;
	}

	&__category{		
		text-transform: uppercase;
		font-size: 13px;
		text-decoration: none;
		margin: 0 0 4px 0;

		&.politics{
			color: #f91717;
		}

		&.tech{
			color: #6997ef;
		}

		&.science{
			color: #8BC34A;
		}

		&.sports{
			color: #FF9800;
		}

		&.business	{
			color: #673AB7;
		}
	}

	&__image{
		display: none;

		img{
			display: block;
			width: 100%;			
		}
	}

	&__author-image{
		border-radius: 50%;
		display: inline-block;
		vertical-align: middle;
	}

	&__author-name{
		display: inline-block;
		vertical-align: middle;
		color: #a9a9a9;
		font-style: italic;
		margin-left: 10px;
		font-size: 14px;
	}

	&__text{
		margin: 20px 0 0 0;
		font-size: 16px;
    color: #a9a9a9;
    font-weight: 300;
    padding: 0 0 40px 0;
	}

	&--0{
		margin-bottom: 40px;

		@media (min-width: $screen-md){
			margin-bottom: 0;
		}

		.post__title{
			font-size: 30px;
		}

		.post__text{
			display: none;
		}
	}

	&--0,
	&--1,
	&--2{
		.post__image{
			display: block;
		}
	}
}

.login{
	text-align: center;
	width: 300px;
	margin: 0 auto;

	&__title{
		font-weight: 400;
		text-transform: uppercase;
		font-size: 20px;
		margin: 0 auto 20px auto;
		text-align: center;

		span{
			color: #2196F3;			
		}
	}

	&__title--2{
		font-weight: 400;
		text-transform: uppercase;
		font-size: 20px;
		margin: 30px auto 20px auto;
		text-align: left;
	}	

	&__validating{
		margin-top: 20px;
		font-size: 14px;
	}

	&__error{
		margin-top: 20px;
		font-size: 14px;
		color: #ff0000;
	}

	&__back{
		width: 200px;
    text-align: center;
    text-transform: uppercase;
    margin: 20px auto;
    display: block;
    text-decoration: none;
    color: #2196F3;
    font-size: 15px;

    &:hover{
    	color: #1d80ce;
    }
	}
}

.input-text--1 {
    display: block;
    padding: 9px 10px;
    font-size: 15px;
    width: 100%;
}

.form-group{
	margin-bottom: 20px;
}

.label--1 {
    display: block;
    text-transform: uppercase;
    font-size: 14px;
    text-align: left;
    margin: 0 0 5px 0;
}

.button--1{
	width: 200px;
	height: 42px;
	background-color: #2196F3;
	color: #fff;
	text-transform: uppercase;
	border: none;
	font-size: 14px;
	display: block;
	max-width: 100%;
	margin: 0 auto;

	&:hover{
		background-color: #1d80ce;
	}
}

.interests{
	width: 520px;
  margin: 0 auto;
 	max-width: 100%;

	&__list{
		margin-bottom: 20px;
	}

	&__list-item{
			text-transform: uppercase;
			padding: 6px 16px;
			display: inline-block;
			border: 1px solid;
			border-radius: 25px;
			font-size: 14px;
			margin-left: 20px;
			margin-bottom: 20px;
			cursor: pointer;

			&:hover, 
			&.active{
				color: #fff !important;
			}

			&.politics{
				color: #f91717;

				&:hover,
				&.active{
					background-color: #f91717;
				}
			}

			&.tech{
				color: #6997ef;

				&:hover,
				&.active{
					background-color: #6997ef;
				}
			}

			&.science{
				color: #8BC34A;

				&:hover,
				&.active{
					background-color: #8BC34A;
				}
			}

			&.sports{
				color: #FF9800;

				&:hover,
				&.active{
					background-color: #FF9800;
				}
			}

			&.business	{
				color: #673AB7;

				&:hover,
				&.active{
					background-color: #673AB7;
				}
			}

			&:first-child{
				margin-left: 0;
			}
		}
}

.animation--fade-top{
	-webkit-animation: animationPop .3s 1 ease-in-out;	
}
@-webkit-keyframes animationFadeTop {
  0%   { 
	-webkit-transform: translateY(-80px);
	opacity: 0; 
  }
  100% { 
  	-webkit-transform: translateY(0px);
  	opacity: 1; 
  }
}

.animation--fade{
	-webkit-animation: animationFade .4s 1 ease-in-out;	
}
@-webkit-keyframes animationFade {
  0%   { 
	opacity: 0; 
  }
  100% { 
  	opacity: 1; 
  }
}

.animation--pop{
	-webkit-animation: animationPop .3s 1 ease-in-out;	
}
@-webkit-keyframes animationPop {
  0%   { 
	-webkit-transform: scale(.3);
	opacity: 0; 
  }
  100% { 
  	-webkit-transform: scale(1);
  	opacity: 1; 
  }
}